<?xml version="1.0"?>
<configuration>
    <sitecore>

      <dataProviders>
        <PeopleProvider type="Sitecore.Poc.ServiceDataProvider.Providers.PeopleProvider, Sitecore.Poc.ServiceDataProvider">
          <param desc="idTablePrefix">People</param>
          <param desc="templateId">{97963D48-BD06-46CA-8279-CD2BA3C7AA36}</param>
          <param desc="parentTemplateId">{6E005E97-5435-4806-98E5-CA454B8218D1}</param>
          <param desc="apiEndpoint">http://dataservice.poc.onsitecore.net/api/people</param>
        </PeopleProvider>
      </dataProviders>

      <databases>
        <database id="master" singleInstance="true" type="Sitecore.Data.Database, Sitecore.Kernel">
          <dataProviders hint="list:AddDataProvider">
            <dataProvider ref="dataProviders/PeopleProvider">
              <disableGroup>delete</disableGroup>
            </dataProvider>
          </dataProviders>
        </database>
      </databases>
     
    </sitecore>
</configuration>
